.btn {
    border: 1px solid $gray;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-icon {
    border: 1px solid $border;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: $gray;
    cursor: pointer;
}
.btn-icon-success {
    &:hover {
        background: $success;
        color: white;
    }
}
.btn-icon-danger {
    &:hover {
        background: $danger;
        color: white;
    }
}

.btn-block {
    width: 100%;
}

.btn-secondary {
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    color: white;
    &:hover {
        background: $primary200;
    }
    &:active,
    &:focus {
        background: $primary100;
    }
}

.btn-light {
    border: 1px solid $text400;
    background: white;
    color: $text200;
    &:hover {
        background: $gray300;
    }
    &:active,
    &:focus {
        background: $gray100;
    }
}

.btn-danger {
    border: 1px solid $danger;
    background: $danger;
    color: white;
    &:hover {
        background: $danger100;
    }
    &:active {
        background: $danger;
    }
}

.selectBtn {
    border: 1px solid $text300;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    color: $text200;
    background: white;

    &__options {
        text-align: left;
        top: 40px;
        right: 0px;
        border: 1px solid $border;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        width: 170px;
        color: $text200;
        background: white;
        box-shadow: $box-shadow-200;
        &--list {
            list-style: none;
            margin-top: 7px;
            margin-bottom: 7px;
        }
        &--item {
            padding: 0.7rem 1.3rem;
            &:hover {
                background: $primary200;
                color: white;
            }
        }
    }
}

.selectBtnFlat {
    border: none;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    color: $text200;
    background: none;

    &:active,
    &:focus {
        background: $gray100;
    }

    &__options {
        top: 40px;
        right: 0px;
        border: 1px solid $border;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        width: 170px;
        color: $text200;
        background: white;
        box-shadow: $box-shadow-200;
        &--list {
            list-style: none;
            margin-top: 7px;
            margin-bottom: 7px;
        }
        &--item {
            padding: 0.7rem 0;
            &:hover {
                background: $primary200;
                color: white;
            }
        }
    }
}
