.input {
    padding: 9px 15px;
    border: 1px solid $border;
    border-radius: 4px;
    width: 100%;
    &:active,
    &:focus {
        border: 2px solid $primary200;
    }
}

.inputSelect {
    position: relative;
    &__input {
        padding: 9px 15px;
        border: 1px solid $border;
        border-radius: 4px;
        width: 100%;

        &:active,
        &:focus {
            border: 2px solid $primary200;
        }
    }
    &__icon {
        position: absolute;
        right: 13px;
        bottom: 10px;
        color: $text300;
    }
    &__options {
        top: 80px;
        right: 0px;
        border: 1px solid $border;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        width: 170px;
        color: $text200;
        background: white;
        box-shadow: $box-shadow-200;
        &--list {
            list-style: none;
            margin-top: 7px;
            margin-bottom: 7px;
        }
        &--item {
            padding: 0.7rem 0;
            &:hover {
                background: $primary200;
                color: white;
            }
        }
    }
}
