.table {
    background: white;

    &--filter {
        border-bottom: 1px solid $border;
        // padding-bottom: 1.4rem;
        padding: 20px 30px;
        &--link {
            margin-right: 1rem;
            &:hover {
                color: $primary200;
                cursor: pointer;
                &::after {
                    content: '';
                    position: relative;
                    top: 20px;
                    border-bottom: 5px solid $primary200;
                    display: block;
                }
            }
            &--active {
                color: $secondary;
                font-weight: 500;
                &::after {
                    content: '';
                    position: relative;
                    top: 20px;
                    border-bottom: 5px solid $primary200;
                    display: block;
                }
            }
        }
        &--collapseBtn {
            display: none;
        }
    }

    &--search {
        padding: 0 30px;
        display: grid;
        grid-template-columns: minmax(150px, auto) minmax(180px, 1fr);
        &--wrapper {
            position: relative;
        }
        &--select {
            appearance: none;
            background: $gray100;
            color: $text300;
            width: 100%;
            border: none;
            border-top: 1px solid $border;
            border-left: 1px solid $border;
            border-bottom: 1px solid $border;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            &:hover {
                cursor: pointer;
            }
            &--arrow {
                font-size: 1rem;
                opacity: 0.7;
                top: 8px;
                right: 20px;
                position: absolute;
            }
        }
        &--option {
            font-size: 1.1rem;
        }
        &--input {
            &--icon {
                top: 12px;
                left: 12px;
                color: $gray200;
            }
            width: 100%;
            border: none;
            color: $text200;
            border-top: 1px solid $border;
            border-right: 1px solid $border;
            border-bottom: 1px solid $border;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            &::placeholder {
                color: $gray200;
            }
            &:focus {
                border: 2px solid $primary200;
            }
        }
    }
    &--heading {
        padding: 0 30px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        // grid-template-columns: 80px 1fr 1fr 1fr 1fr 40px 100px;
        color: $text400;
        font-size: 14px;
        font-weight: 500;

        border-bottom: 1px solid $border;
        padding-bottom: 1.2rem;
    }
    &--items {
        padding: 10px 30px !important;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
        // grid-template-columns: 80px 1fr 1fr 1fr 1fr 40px 100px;

        border-bottom: 1px solid $border;
        padding: 0.6rem 0;

        &--indicator {
            font-size: 0.7rem;
        }
        &--transactionId {
            color: $secondary;
            font-weight: 500;
        }
        &:hover {
            background: $gray300;
            cursor: pointer;
        }
    }
}

@media (max-width: 600px) {
    .table {
        &--search {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            &--select {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-right: 1px solid $border;
            }
            &--input {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-left: 1px solid $border;
            }
        }

        &--heading {
            // grid-template-columns: repeat(5, 1fr);
            grid-template-columns: repeat(auto-fit, (80px, 1fr));
        }
        &--items {
            // grid-template-columns: repeat(5, 1fr);
            grid-template-columns: repeat(auto-fit, (80px, 1fr));
        }

        &--filter {
            &--listWrapper {
                display: none;
            }
            &--collapseBtn {
                display: block;
                font-size: 1.3rem;
                color: $gray;
                cursor: pointer;
            }
            &--list {
                margin-top: 1rem;
                display: grid;
                grid-template-columns: 1fr;
            }
            &--link {
                padding: 0.6rem 0;
                &:hover {
                    background: $gray100;
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    &::after {
                        display: none;
                    }
                }
                &--active {
                    color: $secondary;
                    font-weight: 500;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
