.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

.dflex {
    display: flex;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.list-unstyled {
    list-style: none;
}
.card {
    border: 1px solid $border;
    box-shadow: $box-shadow;
    border-radius: 4px;
}

.text-white {
    color: $textwhite;
}

.text-bold-500 {
    font-weight: 500;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.mr-4 {
    margin-right: 40px;
}
.mr-5 {
    margin-right: 50px;
}

.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.ml-4 {
    margin-left: 40px;
}
.ml-5 {
    margin-left: 50px;
}

.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mb-5 {
    margin-bottom: 50px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}
.mx-4 {
    margin-left: 40px;
    margin-right: 40px;
}
.mx-5 {
    margin-left: 50px;
    margin-right: 50px;
}

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.px-4 {
    padding-left: 40px;
    padding-right: 40px;
}
.px-5 {
    padding-left: 50px;
    padding-right: 50px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.py-5 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pr-1 {
    padding-right: 10px;
}
.pr-2 {
    padding-right: 20px;
}
.pr-3 {
    padding-right: 30px;
}
.pr-4 {
    padding-right: 40px;
}
.pr-5 {
    padding-right: 50px;
}

.pl-1 {
    padding-left: 10px;
}
.pl-2 {
    padding-left: 20px;
}
.pl-3 {
    padding-left: 30px;
}
.pl-4 {
    padding-left: 40px;
}
.pl-5 {
    padding-left: 50px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.border-none {
    border: none;
}

// Border
.rounded {
    border-radius: 50px !important;
}

// Text Color

.text-gray {
    color: $gray;
}
.text-warning {
    color: $warning;
}
.text-secondary {
    color: $secondary;
}
.text-success {
    color: $success;
}
.text-danger {
    color: $danger;
}

// Badges
.badge-fulfilled {
    background: $success;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.badge-unfulfilled {
    background: $danger;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.badge-processed {
    background: $warning;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.badge-paid {
    background: $secondary;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.badge-pending {
    background: $warning;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.badge-abandoned {
    background: $gray;
    color: white;
    border-radius: 5px;
    text-align: center;
}

// Abandoned Email Sent
.badge-sent {
    background: $success;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.badge-not-sent {
    background: $warning;
    color: white;
    border-radius: 5px;
    text-align: center;
}

// Abandoned Recovery
.badge-recovered {
    background: $success;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.badge-not-recovered {
    background: $warning;
    color: white;
    border-radius: 5px;
    text-align: center;
}

// Indicator
.indicator-fulfilled {
    color: $success;
}
.indicator-unfulfilled {
    color: $danger;
}
.indicator-not-processed {
    color: $gray;
}
.indicator-processed {
    color: $warning;
}
.indicator-shipped {
    color: $secondary;
}
.indicator-completed {
    color: $success;
}
.indicator-refunded {
    color: $danger;
}

// Background
.bg-white {
    background: white;
}
.bg-lightgray {
    background: $gray100;
}

.border-none {
    border: none;
}
