nav {
    /* margin-top: 3.5rem; */
    /* position: fixed; */
    width: 100%;
    height: 100%;
    z-index: 3;
    /* border-right: 1.3px solid var(--border);  */
}
.nav {
    &__close {
        top: 13px;
        right: 13px;
        font-size: 2rem;
        cursor: pointer;
        color: $danger;
        display: none;
    }
    &__list {
        margin-top: 2.1rem;
        font-size: 15px;
        list-style: none;
        line-height: 2.4rem;
        padding-left: 2rem;
    }
    &__item {
        margin-right: 10px;
    }
    &__link {
        text-decoration: none;
        color: $text100;
        font-weight: 500;
        display: block;
        position: relative;
    }
    &__link--icon {
        font-size: 1.1rem;
        color: $text300;
    }
    &__link--span--icon {
        position: absolute;
    }
    &__link--span--navname {
        padding-left: 2.4rem;
    }
    &__link:hover,
    &__item:hover {
        background: $gray100;
        border-radius: 4px;
    }
    &__wrapper {
        margin-top: 3.9rem;
        position: fixed;
        width: 250px;
        height: 100%;
        border-right: 1.3px solid $border;
    }
}

// .navWrapper {
//     margin-top: 3.9rem;
//     position: fixed;
//     width: 250px;
//     height: 100%;
//     border-right: 1.3px solid $border;
// }

.sub__nav--list {
    // display: none;
    list-style: none;
    padding-left: 2.4rem;
}
.sub__nav--item {
    margin-right: 10px;
}

.sub__nav--link {
    text-decoration: none;
    color: $text300;
    display: block;
}

.sub__nav--link:hover,
.sub__nav--item:hover {
    background: $gray100;
    border-radius: 4px;
}

// .sub__nav--link:link,
// .sub__nav--link:visited,
// .sub__nav--link:active,
.sub__nav--item:link,
.sub__nav--item:visited,
.sub__nav--link:active {
    background: $gray100;
    border-radius: 4px;
}

.nav__orders--items {
    display: none;
}
.nav__products--items {
    display: none;
}

.nav__active {
    background: $gray100;
    border-radius: 4px;
}

@media (max-width: 968px) {
    nav {
        margin-top: 0;
        display: none;
        position: fixed;
        transition: 0.4s ease;
        background: $overlayBG;
        background: $overlayBG-2;
        // background-color: rgb(0, 0, 0); /* Fallback color */
        // background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }
    .nav {
        &__wrapper {
            margin-top: -4px;
            width: 250px;
            padding-top: 1.5rem;
            background: $mainBG;
            transition: 0.4s ease;
            position: relative;
        }
        &__close {
            display: block;
            position: absolute;
        }
    }

    // .navWrapper {
    //     margin-top: -4px;
    //     width: 250px;
    //     padding-top: 1.5rem;
    //     background: $mainBG;
    //     transition: 0.4s ease;
    //     position: relative;
    // }
}
