$primary: #1c2260;
$primary100: #43467f;
$primary200: #5463c1;
$primary300: #dadfff;
$primary400: #eff1ff;
$secondary: #006fbb;
$success: #6fc45f;
$danger: #d63417;
$danger100: #ec573c;
$warning: #d68a17;

$mainBG: #f4f6f8;
$textwhite: #f9fafb;
$text100: #212b36;
$text200: #454f5b;
$text300: #6a727a;
$text400: #808891;
$border: #e0e0e0;
$gray: #6a727a;
$gray100: #eeeeee;
$gray200: #d4d4d4;
$gray300: #f8f7f7;

$overlayBG: rgb(0, 0, 0);
$overlayBG-2: rgba(223, 167, 167, 0.4);

$box-shadow: 0 6px 13px -12px rgba(50, 50, 93, 0.2),
    0 3px 7px -3px rgba(110, 110, 110, 0.1);
$box-shadow-200: 0 2px 15px hsla(216, 15%, 16%, 0.25);
